<div id="<%= dom_id group %>">
  <p>
    <h3><%= group.name %></h3>
  </p>
  <h6>Members</h6>
  <ul>
    <% group.users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </ul>
</div>
