<p style="color: green"><%= notice %></p>

<%= link_to "New Team", new_group_path, class:"btn btn-sm btn-primary mb-5" %>

<h1>Teams</h1>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this Team", group_profile_path(group), class:"btn btn-sm btn-success mb-2" %>
    </p>
  <% end %>
</div>


